.f22-admin {
	.ant-dropdown-menu-submenu {
		&.ant-dropdown-menu-submenu-vertical {
			.ant-dropdown-menu-submenu-title {
				display: flex;
				align-items: center;
			}
		}
	}

	.f22-login {
		&.layout {
			background: radial-gradient(50% 50% at 50% 50%, #eee 0%, #ccc 100%);
			background-size: "cover";
		}

		.container {
			max-width: 408px;
			margin: auto;
		}

		.title {
			text-align: center;
			color: #626262;
			font-size: 1.5rem;
		}

		.imageContainer {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 16px;
		}
	}

	hr {
		border-top: 1px solid #eee;
		border-bottom: 0px;
		border-right: 0px;
		border-left: 0px;
	}
	table.table {
		width: 100%;
		border-collapse: collapse;
		table-layout: auto; /* 让列宽自动分配 */
		tr {
			background-color: transparent;
			transition: 0.3s ease-in-out;
			&:hover {
				background-color: #fffbe6;
			}
		}
		td,
		th {
			width: 0;
			border: 1px solid #ddd;
			padding: 0.75rem 0.5rem;
		}
		td {
			text-align: right;
		}
		th {
			text-align: center;
			font-weight: 600;
		}
	}
}
