.f22-content {
	.primaryButton {
		transition: all 0.3s;
		font-size: 16px;
		color: white;
		line-height: 112.5%;
		background-color: #5932ea;
		border-radius: 16px;
		padding: 8.5px 24px;
		font-weight: 700;
		&:hover {
			background-color: #9680ea;
		}
		&:focus {
			box-shadow: 0px 0px 0px 4px #5932ea33;
		}
	}
	.secondaryButton {
		transition: all 0.3s;
		font-size: 16px;
		color: white;
		line-height: 112.5%;
		background-color: #000000;
		border-radius: 16px;
		padding: 8.5px 24px;
		font-weight: 700;
		&:hover {
			background-color: #828282;
		}
		&:focus {
			box-shadow: 0px 0px 0px 4px #00000033;
		}
	}
	.tertiaryButton {
		transition: all 0.3s;
		font-size: 16px;
		color: #000000;
		line-height: 112.5%;
		background-color: white;
		border-radius: 16px;
		padding: 8.5px 24px;
		font-weight: 700;
		border-width: 2px;
		border-color: #000000;
		border-style: solid;
		&:hover {
			background-color: #ffffff;
			color: #828282;
			border-color: #828282;
		}
		&:focus {
			box-shadow: 0px 0px 0px 4px #828282;
		}
	}
}
