@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.f22-content {
	font-family: "Poppins", arial, sans-serif, Graphik;
	font-weight: 100;
	line-height: 1.5;
	font-size: 16px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		letter-spacing: 0.05em;
	}
	a {
		text-decoration: none;
	}
	li {
		list-style: none;
	}

	//scrollbar寬度調整
	.sideNav::-webkit-scrollbar,
	.signUpFromSection::-webkit-scrollbar {
		width: 0;
	}
	.slick-prev,
	.slick-next {
		width: 48px;
		height: 48px;
		top: 75%;
		z-index: 1;
	}
	.slick-prev:before {
		content: url("../images/prev-white-icon.svg") !important;
	}
	.slick-next:before {
		content: url("../images/next-white-icon.svg") !important;
	}

	// terms-of-service css
	.terms-content__container {
		p {
			margin: 0;
		}
		p:first-child {
			margin: 20px 0px;
		}
	}

	//wallet css old
	.balanceListContainer:not(:last-child) {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #dadce0;
	}

	$MyBalanceIcon: url("@/assets/images/credit-icon.svg");
	$MyBalanceHoverIcon: url("@/assets/images/credit-icon-hover.svg");
	$DepositIcon: url("@/assets/images/deposit-icon.svg");
	$DepositHoverIcon: url("@/assets/images/deposit-icon-hover.svg");
	$WithdrawIcon: url("@/assets/images/withdraw-icon.svg");
	$WithdrawHoverIcon: url("@/assets/images/withdraw-icon-hover.svg");

	.transactionButtonContainer {
		.transactionButton {
			background-color: #f3f3f4;
			cursor: pointer;
			span {
				color: #2b3240;
			}
			&.MyBalance {
				.transactionIcon {
					background-image: $MyBalanceIcon;
				}
			}
			&.Deposit {
				.transactionIcon {
					background-image: $DepositIcon;
				}
			}
			&.Withdraw {
				.transactionIcon {
					background-image: $WithdrawIcon;
				}
			}

			&:hover,
			&.active {
				background-color: #f9a318;
				span {
					color: #ffffff;
				}

				&.MyBalance {
					.transactionIcon {
						background-image: $MyBalanceHoverIcon;
					}
				}
				&.Deposit {
					.transactionIcon {
						background-image: $DepositHoverIcon;
					}
				}
				&.Withdraw {
					.transactionIcon {
						background-image: $WithdrawHoverIcon;
					}
				}
			}
			.transactionIcon {
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}

	//footer social icon
	$logoFavicon_s: url("@/assets/images/1002_logo_s.svg");
	$logoFavicon_f: url("@/assets/images/1002_logo_f.svg");
	.helpWrap {
		.socialMedia {
			li {
				grid-column: span 1 / span 1;
			}
			li:last-child {
				grid-column: span 4 / span 4;
			}
			@media screen and (max-width: 415px) {
				li:last-child {
					grid-column: span 1 / span 1;
				}
			}
		}
	}

	//gameImg
	.LazyLoadImage {
		img {
			object-fit: cover;
			vertical-align: top;
		}
	}
	.ProviderImg {
		img {
			object-fit: contain;
			object-position: center;
		}
	}
	//Banner
	.banner {
		.LazyLoadImage {
			aspect-ratio: 4 / 3;
		}
		@media (min-width: 810px) {
			.LazyLoadImage {
				aspect-ratio: 21 / 9;
			}
		}
	}
	//antd Input
	.customSearchBar {
		.searchBarInput {
			input {
				background: transparent;
				text-align: left;
				&::placeholder {
					color: #9680ea;
					text-align: left;
					font-size: 14px;
					font-weight: 400;
				}
			}
		}
	}

	//Favorite 收藏遊戲ICON
	$Favorite: url("@/assets/images/game_provider/slot_favorite_icon.svg");
	$FavoriteRed: url("@/assets/images/game_provider/slot_favorite_red_icon.svg");
	.onTheTop {
		.favorite {
			.favoriteIcon {
				background: $Favorite;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				transition: all 0.3s;
				&.active,
				&:hover {
					background: $FavoriteRed;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
		}
	}
	.autoSizerWrap {
		> div::-webkit-scrollbar {
			width: 0;
		}
	}
	.formWrap::-webkit-scrollbar {
		width: 0;
	}
	//銀行帳戶背景圖片
	$bankAccount: url("@/assets/images/newMyPage/BankAccountBG.svg");
	.BankCard {
		.BankCardBg {
			background: $bankAccount;
		}
	}
}
