/*自訂depositAmount Css */
.f22-content {
	.depositAmount {
		//手機版及通用
		.ant-form-item-control-input-content {
			width: 100%;
			display: flex;
			justify-content: end;
			height: 120px;
			border-radius: 8px;
			background-color: #f8f9ff;
			padding: 10px 20px;
			.ant-input-number-affix-wrapper {
				width: 100%;
				.ant-input-number-prefix {
					font-size: 30px;
					color: #c6bbee;
					font-weight: 600;
				}
				.ant-input-number {
					width: 100%;
					.ant-input-number-input-wrap {
						height: 100%;
						input {
							color: #9680ea;
							font-size: 40px;
							font-weight: 700;
							text-align: right;
							height: 100%;
						}
					}
				}
			}
		}
		//電腦版
		@media (min-width: 415px) {
			height: 150px;
			border-radius: 16px;
			.ant-form-item-control-input-content {
				padding: 15px 30px;
				.ant-input-number-affix-wrapper {
					.ant-input-number-prefix {
						font-size: 50px;
					}
					.ant-input-number {
						.ant-input-number-input-wrap {
							input {
								font-size: 80px;
							}
						}
					}
				}
			}
		}
	}
	.depositChosenBonus {
		width: 100%;
		height: 36px;
		border-radius: 8px;
		border: 1px solid #9680ea;
		.ant-select-selector {
			padding: 0 32px;
			.ant-select-selection-placeholder,
			.ant-select-selection-item {
				font-size: 16px;
				font-weight: 500;
				color: #9680ea;
			}
		}
		//電腦版
		@media (min-width: 415px) {
			height: 60px;
			border-radius: 16px;
		}
	}
}
.depositChosenBonusPopup {
	.rc-virtual-list {
		.rc-virtual-list-holder {
			.rc-virtual-list-holder-inner {
				.ant-select-item {
					.ant-select-item-option-content {
						text-align: center !important;
						font-size: 20px;
						font-weight: 500;
						color: #9680ea;
					}
					box-shadow: 0px 1px 1px 0px #e4e9f1;
					&.ant-select-item-option-active {
						background: #f8f9ff !important;
					}
				}
			}
		}
	}
}
.ant-pagination-item {
	border-width: 0 !important;
	&.ant-pagination-item-active {
		span {
			background: #c6bbee;
			color: white !important;
		}
	}
}
