@font-face {
	font-family: "gong-gothic";
	src: url("../fonts/gong-gothic-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "gong-gothic";
	src: url("../fonts/gong-gothic-medium.ttf") format("truetype");
	font-weight: medium;
	font-style: normal;
}
@font-face {
	font-family: "gong-gothic";
	src: url("../fonts/gong-gothic-light.ttf") format("truetype");
	font-weight: light;
	font-style: normal;
}
