$primary: #1677ff;

@import "./global.scss";
@import "./custom.scss";
@import "./admin.scss";
@import "./font.scss";
@import "./siderBar.scss";
@import "./contentLayout.scss";
@import "./buttonMD.scss";
@import "./popularGames.scss";
@import "./loginForm.scss";
