/*
登入註冊表單欄位樣式
*/
.formWrap {
	.ant-form {
		span.ant-input-affix-wrapper {
			background-color: #ffffff;
			height: 50px;
			border-radius: 16px;
			font-size: 1rem /* 16px */ !important;
			line-height: 1.5rem /* 24px */ !important;
			font-weight: 400 !important;
			padding: 15px 30px !important;
			gap: 16px;
			input::placeholder {
				color: #5932ea !important;
			}
			.ant-input-suffix {
				svg {
					fill: #5932ea !important;
				}
			}
		}
		.ant-radio-wrapper {
			span {
				color: white;
				font-size: 12px;
				line-height: 18px;
				text-align: start;
			}
		}
		@media screen and (max-width: 414px) {
			.ant-form-item {
				margin-bottom: 8px !important;
			}
		}
	}
}
