.f22-content {
	//sideBar css
	$logoFavicon_s: url("@/assets/images/1002_logo_s.svg");
	$logoFavicon_f: url("@/assets/images/1002_logo_f.svg");
	//wallet icon
	$MyPageFavicon: url("@/assets/images/newMenuIcon/Icon_Menu_Outlined_MyPage.svg");
	$MyPageFaviconWhite: url("@/assets/images/newMenuIcon/Icon_Menu_Filled_MyPage.svg");
	$siteNotifyFavicon: url("@/assets/images/newMenuIcon/Icon_Menu_Outlined_NoteBox.svg");
	$siteNotifyFaviconWhite: url("@/assets/images/newMenuIcon/Icon_Menu_Filled_NoteBox.svg");
	$cashHistoryFavicon: url("@/assets/images/newMenuIcon/Icon_Menu_Outlined_CashHistory.svg");
	$cashHistoryFaviconWhite: url("@/assets/newMenuIcon/images/Icon_Menu_Filled_CashHistory.svg");
	$rollingPointFavicon: url("@/assets/images/newMenuIcon/Icon_Menu_Outlined_RollingPoint.svg");
	$rollingPointFaviconWhite: url("@/assets/images/newMenuIcon/Icon_Menu_Filled_RollingPoint.svg");
	$pointDetailsFavicon: url("@/assets/images/newMenuIcon/Icon_Menu_Outlined_PointDetails.svg");
	$pointDetailsFaviconWhite: url("@/assets/images/newMenuIcon/Icon_Menu_Filled_PointDetails.svg");
	$faqFavicon: url("@/assets/images/newMenuIcon/Icon_Menu_Outlined_Notice.svg");
	$faqFaviconWhite: url("@/assets/images/newMenuIcon/Icon_Menu_Filled_Notice.svg");
	$sportsRegulationsFavicon: url("@/assets/images/newMenuIcon/Icon_Menu_Outlined_SportsRegulations.svg");
	$sportsRegulationsFaviconWhite: url("@/assets/images/newMenuIcon/Icon_Menu_Filled_SportsRegulations.svg");
	$battingRegulationsFavicon: url("@/assets/images/newMenuIcon/Icon_Menu_Outlined_BattingRegulations.svg");
	$battingRegulationsFaviconWhite: url("@/assets/images/newMenuIcon/Icon_Menu_Filled_Batting_Regulations.svg");
	$depositFavicon: url("@/assets/images/Icon_Menu_Outlined_Deposit.svg");
	$depositFaviconWhite: url("@/assets/images/Icon_Menu_Filled_Deposit.svg");
	$withdrawFavicon: url("@/assets/images/Icon_Menu_Outlined_Withdraw.svg");
	$withdrawFaviconWhite: url("@/assets/images/Icon_Menu_Filled_Withdraw.svg");
	$rolloverHistoryFavicon: url("@/assets/images/Icon_Menu_Outlined_Rollover.svg");
	$rolloverHistoryFaviconWhite: url("@/assets/images/Icon_Menu_Filled_Rollover.svg");
	//gameCategory icon
	$inPlayFavicon: url("@/assets/images/Icon_Menu_Outlined_In_Play.svg");
	$inPlayFaviconWhite: url("@/assets/images/Icon_Menu_Filled_In_Play.svg");
	$sportsFavicon: url("@/assets/images/Icon_Menu_Outlined_Sports.svg");
	$sportsFaviconWhite: url("@/assets/images/Icon_Menu_Filled_Sports.svg");
	$golfFavicon: url("@/assets/images/Icon_Menu_Outlined_Golf.svg");
	$golfFaviconWhite: url("@/assets/images/Icon_Menu_Filled_Golf.svg");
	$casinoFavicon: url("@/assets/images/Icon_Menu_Outlined_Casino.svg");
	$casinoFaviconWhite: url("@/assets/images/Icon_Menu_Filled_Casino.svg");
	$slotFavicon: url("@/assets/images/Icon_Menu_Outlined_Slot.svg");
	$slotFaviconWhite: url("@/assets/images/Icon_Menu_Filled_Slot.svg");
	$gamesFavicon: url("@/assets/images/Icon_Menu_Outlined_Games.svg");
	$gamesFaviconWhite: url("@/assets/images/Icon_Menu_Filled_Games.svg");
	$eventsFavicon: url("@/assets/images/Icon_Menu_Outlined_Event.svg");
	$eventsFaviconWhite: url("@/assets/images/Icon_Menu_Filled_Event.svg");

	$iconArrowRight: url("@/assets/images/Icon_Arrow_Right_Grey.svg");
	$iconArrowRightWhite: url("@/assets/images/Icon_Arrow_Right_White.svg");

	.sideBar {
		.logoFavicon {
			background-image: $logoFavicon_s;
		}
		&.active {
			.logoFavicon {
				background-image: $logoFavicon_f;
			}
			.startNow {
				opacity: 1 !important;
			}
			ul {
				li {
					::after {
						content: "";
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translateY(-50%);
						width: 10px;
						height: 10px;
						background-image: $iconArrowRight;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
					}
					&:hover,
					&.active {
						::after {
							background-image: $iconArrowRightWhite;
						}
					}
				}
			}
		}
		.WallerContainer {
			li {
				&.MyPage {
					.favicon {
						background-image: $MyPageFavicon;
					}
				}
				&.siteNotify {
					.favicon {
						background-image: $siteNotifyFavicon;
					}
				}
				&.deposit {
					.favicon {
						background-image: $depositFavicon;
					}
				}
				&.withdraw {
					.favicon {
						background-image: $withdrawFavicon;
					}
				}
				&.cashHistory {
					.favicon {
						background-image: $cashHistoryFavicon;
					}
				}
				&.rollingPoint {
					.favicon {
						background-image: $rollingPointFavicon;
					}
				}
				&.rolloverHistory {
					.favicon {
						background-image: $rolloverHistoryFavicon;
					}
				}
				&.pointDetails {
					.favicon {
						background-image: $pointDetailsFavicon;
					}
				}
				&.faq {
					.favicon {
						background-image: $faqFavicon;
					}
				}
				&.sportsRegulations {
					.favicon {
						background-image: $sportsRegulationsFavicon;
					}
				}
				&.battingRegulations {
					.favicon {
						background-image: $battingRegulationsFavicon;
					}
				}
				&:hover,
				&.active {
					background-color: #5932ea;
					span {
						color: #ffffff;
					}
					box-shadow: 0px 6px 8px 0px rgba(89, 50, 234, 0.2);
					&.MyPage {
						.favicon {
							background-image: $MyPageFaviconWhite;
						}
					}
					&.siteNotify {
						.favicon {
							background-image: $siteNotifyFaviconWhite;
						}
					}
					&.deposit {
						.favicon {
							background-image: $depositFaviconWhite;
						}
					}
					&.withdraw {
						.favicon {
							background-image: $withdrawFaviconWhite;
						}
					}
					&.cashHistory {
						.favicon {
							background-image: $cashHistoryFaviconWhite;
						}
					}
					&.rollingPoint {
						.favicon {
							background-image: $rollingPointFaviconWhite;
						}
					}
					&.rolloverHistory {
						.favicon {
							background-image: $rolloverHistoryFaviconWhite;
						}
					}
					&.pointDetails {
						.favicon {
							background-image: $pointDetailsFaviconWhite;
						}
					}
					&.faq {
						.favicon {
							background-image: $faqFaviconWhite;
						}
					}
					&.sportsRegulations {
						.favicon {
							background-image: $sportsRegulationsFaviconWhite;
						}
					}
					&.battingRegulations {
						.favicon {
							background-image: $battingRegulationsFaviconWhite;
						}
					}
				}
				.favicon {
					background-size: 30px;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
		.GameNavContainer {
			li {
				&.inPlay {
					.favicon {
						background-image: $inPlayFavicon;
					}
				}
				&.sports {
					.favicon {
						background-image: $sportsFavicon;
					}
				}
				&.golf {
					.favicon {
						background-image: $golfFavicon;
					}
				}
				&.casino {
					.favicon {
						background-image: $casinoFavicon;
					}
				}
				&.slot {
					.favicon {
						background-image: $slotFavicon;
					}
				}
				&.games {
					.favicon {
						background-image: $gamesFavicon;
					}
				}
				&.events {
					.favicon {
						background-image: $eventsFavicon;
					}
				}
				&:hover,
				&.active {
					background-color: #5932ea;
					span {
						color: #ffffff;
					}
					box-shadow: 0px 6px 8px 0px rgba(89, 50, 234, 0.2);
					&.inPlay {
						.favicon {
							background-image: $inPlayFaviconWhite;
						}
					}
					&.sports {
						.favicon {
							background-image: $sportsFaviconWhite;
						}
					}
					&.golf {
						.favicon {
							background-image: $golfFaviconWhite;
						}
					}
					&.casino {
						.favicon {
							background-image: $casinoFaviconWhite;
						}
					}
					&.slot {
						.favicon {
							background-image: $slotFaviconWhite;
						}
					}
					&.games {
						.favicon {
							background-image: $gamesFaviconWhite;
						}
					}
					&.events {
						.favicon {
							background-image: $eventsFaviconWhite;
						}
					}
				}
				.favicon {
					background-size: 30px;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
	}
}
